.copyright .footer-logo {
    margin-bottom: 12px;
    margin-top: 41px;
}

.copyright p, .copyright p a {
    color: #313131;
}

.copyright p a:hover {
    color: #a749ff;
}

.footer-widget .footer-title h3 {
    font-size: 16px;
    font-weight: 500;
    color: #313131;
    margin: 0 0 16px;
    line-height: 1;
}

.footer-widget .footer-list ul li {
    margin: 0 0 11px;
}

.footer-widget .footer-list ul li a {
    color: #5d5d5d;
    letter-spacing: .3px;
}

.footer-widget .footer-list ul li:last-child {
    margin: 0;
}

.footer-widget .footer-list ul li a:hover {
    color: #a749ff;
}

.footer-widget .subscribe-style p {
    color: #7a7a7a;
    margin: 0 0 20px;
}

.footer-widget .subscribe-style .subscribe-form input {
    background: transparent;
    font-size: 13px;
    color: #333;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 2px 10px 2px 0;
}

.footer-widget .subscribe-style .subscribe-form .clear button {
    width: auto;
    height: auto;
    color: #313131;
    font-size: 14px;
    padding: 0 0 1px;
    line-height: 1;
    background: none;
    border: none;
    border-bottom: 2px solid #9b9b9c;
    text-transform: uppercase;
    margin: 13px 0 0;
}

.footer-widget .subscribe-style .subscribe-form .clear button:hover {
    color: #a749ff;
    border-bottom: 2px solid #a749ff;
}