.product-area {
    position: relative;
}

.hm6-section-padding .container-fluid, .hm6-section-padding .container-lg, .hm6-section-padding .container-md, .hm6-section-padding .container-sm, .hm6-section-padding .container-xl {
    padding-right: 70px;
    padding-left: 70px;
}

.hm6-section-padding .row {
    margin-right: -10px;
    margin-left: -10px;
}

.hm6-section-padding div[class^=col-] {
    padding-left: 10px;
    padding-right: 10px;
}

.product-wrap-4 {
    position: relative;
    overflow: hidden;
}

.product-wrap-4 a img {
    width: 100%;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.product-wrap-4 .position-1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 75px;
}

.product-wrap-4 .product-content-4 h4 {
    font-size: 30px;
    margin: 0 0 12px;
    line-height: 38px;
}

.product-wrap-4 .product-content-4 .price-4.price-4-center span {
    margin: 0 12px;
}

.product-wrap-4 .product-content-4 .price-4 span {
    font-size: 18px;
    color: #000;
    position: relative;
    margin: 0 24px 0 0;
}


.product-wrap-4 .product-content-4 .price-4 span.old {
    color: #fa6bff;
    text-decoration: line-through;
}

.product-wrap-4 .position-2 {
    position: absolute;
    left: 60px;
    bottom: 55px;
}

.product-wrap-4 .position-3 {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    text-align: center;
}






@media only screen and (max-width: 1600px) and (min-width: 1366px) {
    .product-wrap-4 .position-1 {
        bottom: 40px;
    }

    .product-wrap-4 .product-content-4 h4 {
        font-size: 25px;
        line-height: 30px;
    }

    .product-wrap-4 .position-2 {
        bottom: 40px;
    }

    .product-wrap-4 .position-3 {
        top: 32px;
    }
}